{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/profiles.css') }}">
{% endblock %}

{% block body %}
    <h1>Les joueurs</h1>
    <ul class="profilsContainer">
        {% for user in users %}
            <li class="boxShadow">
                <img src="https://api.dicebear.com/8.x/bottts/svg?seed={{ user.avatarUrl }}" alt="Avatar de {{ user.username }}" class="">
                <h2>{{ user.username }}</h2>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
