{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/admin.css') }}">
{% endblock %}

{% block body %}
<h1>Panneau d'administration</h1>
<nav>
    <ul class="adminLinkContainer">
        <li>
            <a class="button" href="{{ path('app_session_index') }}">SESSION</a>
        </li>
        <li>
            <a class="button" href="{{ path('app_profiles') }}">LES JOUEURS</a>
        </li>
        <li>
            <a class="button" href="{{ path('app_game_index') }}">LES JEUX</a>
        </li>
        <li>
            <a class="button" href="{{ path('app_admin') }}">SESSION / JEUX</a>
        </li>
        <li>
            <a class="button" href="{{ path('app_admin') }}">VIDE</a>
        </li>
        <li>
            <a class="button" href="{{ path('app_admin') }}">VIDE</a>
        </li>
    </ul>
</nav>
{% endblock %}
